node_modules
.github
.idea
public
dist
bin
build
out
tmp
temp
.cache
.nuxt
pnpm-lock.yaml
bun.lock
package-lock.json
.nuxt
.nx
artifacts-zk
cache-zk
typechain-types
.output
deployments-zk
**/ignition/deployments/**
**/artifacts/**
**/cache/**
zksync-os-server
txn-state