# Only required if delpoying
VITE_BACKEND_URL=<YOUR_DEPLOYED_BACKEND_URL>
VITE_RESOLVER_URL=<YOUR_DEPLOYED_RESOLVER_URL>

# Only required if running a local interop environment
VITE_SHOW_INTEROP=true
# Make sure the address here matches your deployed test USD token contract
VITE_TOKEN_ADDRESS=0xe441CF0795aF14DdB9f7984Da85CD36DB1B8790d

# Optional overrides
VITE_BUNDLER_URL=
VITE_ZKSYNC_OS_CHAIN_ID=
VITE_ZKSYNC_OS_RPC_URL=
VITE_ZKSYNC_OS_WS_URL=
VITE_ZKSYNC_OS_EXPLORER_URL=
VITE_L1_EXPLORER_BASE=
VITE_L2_EXPLORER_BASE=
VITE_SSO_EOA_VALIDATOR=
VITE_SSO_WEBAUTHN_VALIDATOR=
VITE_SSO_SESSION_VALIDATOR=
VITE_SSO_GUARDIAN_EXECUTOR=
VITE_SSO_ACCOUNT_IMPLEMENTATION=
VITE_SSO_BEACON=
VITE_SSO_FACTORY=
VITE_SSO_ENTRYPOINT=
VITE_L2_INTEROP_CENTER=
VITE_BRIDGEHUB_ADDRESS=
VITE_AAVE_POOL=
VITE_AAVE_WETH_GATEWAY=
VITE_AAVE_WETH_TOKEN=
VITE_AAVE_ATOKEN=
VITE_AAVE_GHO_TOKEN=
