name: Lint

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: "1.3.5"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: ESLint
        run: bun lint:eslint

      - name: Markdownlint
        run: bun lint:markdown

      - name: Prettier
        run: bun lint:prettier

      - name: Spellcheck
        run: bun lint:spelling
